<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>KoolTube</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Recipe/static/assert3/css/bootstrap.min.css"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="/Recipe/static/assert3/css/style.css">
	
	<!-- Owl Carousel Assets -->
    <link href="/Recipe/static/assert3/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/Recipe/static/assert3/owl-carousel/owl.theme.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="/Recipe/static/assert3/css/font-awesome.min.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="/Recipe/static/assert3/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="/Recipe/static/assert3/js/bootstrap.min.js"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/Recipe/static/assert3/js/html5shiv.js"></script>
        <script src="/Recipe/static/assert3/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	
	
	<nav style="background: url(images/1.jpg) no-repeat center">
	<div  style="background: rgba(64, 68, 105, 0.54);padding:  0.8em 0;">
	
			<div class="container" >
			<div class="row">
				
		<div class="w3ls-header-left">
						<p>开始你的美食之旅</p>
			</div>
					<div class="w3ls-header-right">
						<ul> 
							<li class="head-dpdn" style="color: #fff;">
								<i class="fa fa-phone" aria-hidden="true" ></i> 联系我们: 13556510364 
							</li> 
							<li class="head-dpdn">
								<a href="../management/login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</a>
							</li> 
							<li class="head-dpdn">
								<a href="signup.html"><i class="fa fa-user-plus" aria-hidden="true"></i> 注册</a>
							</li> 
							<li class="head-dpdn">
								<a href="help.html"><i class="fa fa-question-circle" aria-hidden="true"></i> 帮助</a>
							</li>
						</ul>
					</div>
			</div>
	</div>
	</div>
	<!--Navigation-->

	<div class="navbar navbar-default" style="background: rgba(253, 70, 62, 0.84);">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header w3l_logo">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>  
							<h1><a href="index.html">我是你的"菜"<span>极致的美食体验</span></a></h1>
						</div> 
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="../index.html" class="active">主页</a></li>
								<!-- Mega Menu -->
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">菜谱大全 <b class="caret"></b></a>
									<ul class="dropdown-menu multi-column columns-3">
										<div class="row">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<h6>一日三餐</h6>  
													<li><a href="menu.html">早餐</a></li> 
													<li><a href="menu.html">午餐</a></li> 
													<li><a href="menu.html">晚餐</a></li>
													<li><a href="menu.html">下午茶</a></li> 
													<li><a href="menu.html">宵夜</a></li> 
												</ul>
											</div>
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<h6>八大菜系</h6> 
													
													<li><a href="menu.html">鲁菜</a></li> 
													<li><a href="menu.html">川菜</a></li> 
													<li><a href="menu.html">粤菜</a></li> 
													<li><a href="menu.html">闽菜</a></li>
													<li><a href="menu.html">苏菜</a></li> 
													<li><a href="menu.html">浙菜</a></li> 
													<li><a href="menu.html">湘菜</a></li> 
													<li><a href="menu.html">徽菜</a></li> 
												</ul>
											</div>
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<h6>家常菜谱</h6> 
													<li><a href="menu.html">面食</a></li>
													<li><a href="menu.html">小吃</a></li> 
													<li><a href="menu.html">小炒</a></li> 
													<li><a href="menu.html">热菜</a></li> 
													<li><a href="menu.html">汤羹</a></li> 
													<li><a href="menu.html">煲粥</a></li> 
													<li><a href="menu.html">甜点</a></li>
													<li><a href="menu.html">凉拌</a></li>
													<li><a href="menu.html">西餐</a></li>
													<li><a href="menu.html">节日特色</a></li>
												</ul>
											</div> 
											<div class="clearfix"></div>
										</div>
									</ul>
								</li>
								<li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">美食街区 <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">社区论坛</a></li>
										<li><a href="video.html">短视频</a></li>     
									</ul>
								</li>  
								<li><a href="about.html">关于我们</a></li> 

								<li><a href="contact.html">意见反馈</a></li>
							</ul>
						</div>
						<div class="cart cart box_1"> 
							<form action="#" method="post" class="last"> 
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="display" value="1" />
								<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
							</form>   
						</div> 
				
				
		</nav>
	
	<!--Top-->
	<div id="top" class="navbar navbar-default" style="background:url(images/13.PNG);">
		<div class="container" >
			<div class="row" align="center">
				
					<p style="color:white;font-size: 30px" align="center">小炒系列视频</p>
				
			
					<p align="right">
						<a href="video.html" style="color: white;font-size: 20px;" ><i class="fa fa-home" ></i>短视频首页</a></p>
						
					
				
			</div>
		</div>

	</div>
	
	


	<!-- /////////////////////////////////////////Content -->

		<div align="center" class="c" style="background:url(images/13.PNG);">
			<div class="row" >
				<div th:each="video:${pageInfo.list}">
					<div class="line"></div>
					<article>
					
						<a href="#"><h2 th:text="${video.title}" class="vid-name"></h2></a>
						<div class="info">
							<h5>作者：<a href="#">老攻</a></h5>
							<span>上传时间： <span th:text="${#dates.format(video.date, 'yyyy-MM-dd HH:mm')}"></span></span>
							<span>播放量：<span th:text="${video.view}"></span></span>
							<span><i class="fa fa-heart"></i>1,200</span>
							<ul class="list-inline">
								<li><a href="#" style="text-decoration: underline;color:#333;">评分</a></li>
								<li> - </li>
								<li>
									<span class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</span>
								</li>
							</ul>
						</div>
					
						<div class="wrap-vid">
							<div class="zoom-container">
								<div class="zoom-caption">
									<span>1</span>
									<a th:href="@{'/video/videoplays/'+${video.id}}">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p> <span th:text="${#dates.format(video.date, 'yyyy-MM-dd HH:mm')}"></span></p>
								</div>
								<img th:src="@{'/static/assert/proimage/'+${video.title}+'.jpg'}"/>

							</div>
							<br><br>
							<div >
								<p> 简介：<span th:text="${ video.introduce}"></span> </p>
							</div>
						</div>
					</article>
				</div>
					<center>


						<div class="container" style="padding:20px 250px">
							<div style="margin-top: 50px;">
								<ul id="page" class="pagination">
									<div class = "aad"> 当前第<span th:text="${pageInfo.pageNum} "></span>页.每页条数：<span th:text="${pageInfo.pageSize}"></span>
										一共 <span th:text="${pageInfo.total}"></span> 条记录</div>
									<li >
										<a th:href="@{'/video/videolist?pn='+${pageInfo.firstPage}}" >首页</a>
									</li>
									<!--上一页-->
									<li  th:if="${pageInfo.hasPreviousPage}">
										<a  th:href="@{'/video/videolist?pn='+${pageInfo.prePage}}"  >
											<i class="fa fa-angle-left"></i>&nbsp;上一页
										</a>
									</li>
									<!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
									<th:block th:each="nav : ${pageInfo.navigatepageNums}" >
										<li  th:class="${nav==pageInfo.pageNum}?'active':''" >
											<a th:href="@{'/video/videolist?pn='+${nav}}"
											   th:text="${nav}"></a></li>
									</th:block>

									<th:block th:if="${pageInfo.hasNextPage}">
										<li>
											<a th:href="@{'/video/videolist?pn='+${pageInfo.nextPage}}" > 下一页&nbsp;<i class="fa fa-angle-right"></i>
											</a>
										</li>
									</th:block>
									<li>
										<a th:href="@{'/video/videolist?pn='+${pageInfo.lastPage}}">尾页</a>
									</li>
								</ul>
							</div>
						</div>
					</center>
				</div>
	
	</div>

	<footer>
		<div class="top-footer">
			<ul class="footer-social list-inline">
				<li><a href="#"><i class="fa fa-twitter"></i> <span>回到顶部</span></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i> <span>首页</span></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i> <span>11</span></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i> <span>22</span></a></li>
				<li><a href="#"><i class="fa fa-vimeo-square"></i> <span>33</span></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i> <span>44</span></a></li>
				<li><a href="#"><i class="fa fa-rss"></i> <span>55</span></a></li>
			</ul>  
		</div>
		
		
			
		</div> 
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="/Recipe/static/assert3/owl-carousel/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
      });

    });
    </script>
	
</body>
</html>
