<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - Bootstrap Table</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Recipe/static/assert/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" th:href="@{/static/assert/css/bootstrap.min.css?v=3.3.6}">
    <link href="/Recipe/static/assert/css/font-awesome.css?v=4.4.0" rel="stylesheet" th:href="@{/static/assert/css/font-awesome.css?v=4.4.0}">
    <link href="/Recipe/static/assert/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" th:href="@{/static/assert/css/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link href="/Recipe/static/assert/css/animate.css" rel="stylesheet" th:href="@{/static/assert/css/animate.css}">
    <link href="/Recipe/static/assert/css/style.css?v=4.1.0" rel="stylesheet" th:href="@{/static/assert/css/style.css?v=4.1.0}">

    <!--video js-->
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
    <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">

            <div class="col-sm-12">
                <!-- Example Pagination -->
                <div class="example-wrap">
                    <div  class="form-inline row">

                        <div class="col-sm-3 col-md-offset-5 input-group">
                            <input type="text" placeholder="输入搜索内容" name="searchvideo" class="form-control input-lg">
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
                                </button>
                            </div>
                        </div>
                        <a data-toggle="modal" class="btn btn-primary" href="#modal-form">添加视频</a>
                        <button type="button" class="btn btn-primary">删除视频</button>
                    <h4 class="example-title">视频列表</h4>
                    <div class="example">
                        </div>
                        <table id="exampleTablePagination" data-toggle="table" data-url="/js/demo/bootstrap_table_test.json" data-query-params="queryParams" data-mobile-responsive="true" data-height="600" data-pagination="true" data-icon-size="outline" data-search="false">
                            <thead>
                                <tr>
                                   <!-- <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="id">ID</th>
                                    <th data-field="image">封面</th>
                                    <th data-field="title">标题</th>
                                    <th data-field="content">正文内容</th>
                                    <th data-field="viewtime">浏览次数</th>
                                    <th data-field="collecttime">收藏次数</th>
                                    <th data-field="city">所在城市</th>
                                    <th data-field="address">攻略介绍地点</th>
                                    <th data-field="work">操作</th>-->
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th>序号</th>
                                    <th>视频名称</th>
                                    <th>视频</th>
                                    <th>介绍</th>
                                    <th>播放量</th>
                                    <th>用户名</th>
                                    <th>状态</th>
                                    <th>日期</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="video:${videos}">
                                    <td ></td>
                                    <td th:text="${video.id}"></td>
                                    <td th:text="${video.title}"></td>
                                    <td>
                                        <video width="320" height="240">
                                            <source th:src="@{'/static/assert3/video/'+${video.title}+'.ogg'}" type="video/ogg">
                                            <source th:src="@{'/static/assert3/video/'+${video.title}+'.mp4'}" type="video/mp4">
                                            <source src="movie.webm" type="video/webm">
                                            <object data="movie.mp4" width="320" height="240">
                                                <embed width="320" height="240" src="movie.swf">
                                            </object>
                                        </video>

                                    </td>
                                    <td th:text="${video.introduce}"></td>
                                    <td th:text="${video.view}"></td>
                                    <td th:text="${video.uid}"></td>
                                    <td th:text="${video.state}"></td>
                                    <td th:text="${#dates.format(video.date, 'yyyy-MM-dd HH:mm')}"></td>


                                    <!--日期格式化-->
                                    <!--<td th:text="${#dates.format(xx,'yyyy-MM-dd')}"></td>-->
                                    <td>
                                        <a data-toggle="modal" href="#modal-form2" th:onclick="'javascript:toEdit('+${video.id}+');'">编辑</a>&nbsp;&nbsp;
                                        <a th:onclick="'javascript:delete_video('+${video.id}+');'" id="delete_btn">删除</a>
                                        <form method="post" id="deleteVideo">
                                            <input type="hidden" name="_method" value="delete" />
                                        </form>
                                        <script>
                                            function delete_video(id){

                                                var a=$("#delete_btn").attr("delete_uri");

                                                $("#deleteVideo").attr("action","/video/"+id).submit();
                                                return false;
                                            }

                                        </script>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- End Example Pagination -->
            </div>
    </div>
        <!-- End Panel Other -->
    </div>


    <!--添加模态框-->
    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 class="m-t-none m-b">添加视频</h3>

                            <p>请输入视频信息(⊙o⊙)</p>

                            <form role="form" th:action="@{/video}" method="post">
                                <div class="form-group">
                                    <label>视频名称：</label>
                                    <input name="title" type="text" placeholder="请输入视频名称" class="form-control" val="">
                                </div>
                                <div class="form-group">
                                    <label>介绍：</label>
                                    <textarea name="introduce"  rows="3"  type="text" placeholder="视频描述" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>观看量：</label>
                                    <input name="view" type="text" placeholder="观看量" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>用户id：</label>
                                    <input name="uid" type="text" placeholder="用户id" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>视频资源：</label>
                                    <input type="file" name="state" id="choose-file" multiple="multiple">
                                </div>
                                <div class="form-group">
                                    <label>日期：</label>
                                    <input name="date" type="date" placeholder="日期" class="form-control">
                                </div>

                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>保存</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--修改模态框-->
    <div id="modal-form2" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 class="m-t-none m-b">编辑视频</h3>

                            <p>请修改视频信息(⊙o⊙)</p>

                            <form role="form" th:action="@{/video}" method="post">
                                <input type="hidden" name="_method" value="put"/>
                                   <!-- <input type="hidden" name="id" th:value="${user.id}">-->
                                <div class="form-group">
                                    <label>序号：</label>
                                    <input id="id_update_input" readonly="readonly" name="id" type="text"  class="form-control"  val="">
                                </div>

                                <div class="form-group">
                                    <label>视频名称：</label>
                                    <input id="title_update_input" name="title" type="text"  class="form-control" val="">
                                </div>
                                <div class="form-group">
                                    <label>介绍：</label>
                                    <textarea name="introduce_update_input"  rows="3"  type="text" placeholder="视频描述" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>视频资源：</label>
                                    <input type="file" name="state_update_input" id="choose-file" multiple="multiple">
                                </div>
                                <div class="form-group">
                                    <label>日期：</label>
                                    <input id="date_update_input" name="date" type="date"  class="form-control">
                                </div>

                                <div>
                                    <button id="edit_btn" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>完成</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function toEdit(id){
            $.ajax({
                url: "/Recipe/video/"+id,
                type: "GET",
                success:  function(result){
                    var video=result.video;

                    $("#id_update_input").val(id);
                    $("#title_update_input").val(video.title);
                    $("#introduce_update_input").val(video.introduce);
                    $("#date_update_input").val(video.date);

                }
            })
        }

    </script>
    <!-- 全局js -->
    <script src="/Recipe/static/assert/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Recipe/static/assert/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="/Recipe/static/assert/js/content.js?v=1.0.0"></script>


    <!-- Bootstrap table -->
    <script src="/Recipe/static/assert/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Recipe/static/assert/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/Recipe/static/assert/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- iCheck -->
    <script src="/Recipe/static/assert/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="/Recipe/static/assert/js/demo/bootstrap-table-demo.js"></script>

    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <!--统计代码，可删除-->

</body>

</html>